html {
  font-size: 16px;
}

body {
  background: hsl(30, 54%, 90%);
  width: 1440px;
  max-height: 1954px;
  margin-top: 122px;
  margin-bottom: 122px;
}

.container {
  background: white;
  width: 740px;
  height: 1710px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

picture {
  margin: 42px;
  display: flex;
  height: 300px;
  border-radius: 15px;
}

.omlette {
  border-radius: 15px;
  width: 100%;
}

.recipe {
  padding-top: 30px;
  position: relative;
  top: -32px;
  margin: 40px;
  height: 1283px;
  border-radius: 15px;
}

h1 {
  position: relative;
  top: -36px;
  text-align: left;
  font-size: 39.5px;
  font-family: "Young Serif";
  font-weight: 400;
}

p {
  position: relative;
  top: -47px;
  font-size: 16px;
  font-family: Outfit;
  color: hsl(24, 5%, 18%);
  line-height: 1.5em;
}
.prep {
  line-height: 1.7rem;
  position: relative;
  height: 185px;
  background: hsl(330, 100%, 98%);
  border-radius: 15px;
  top: -35px;
}

#extra-li-1 {
  line-height: 1.2;
  color: hsl(24, 5%, 18%);
}

#extra-li-2 {
  line-height: 1.2;
  color: hsl(24, 5%, 18%);
}

#extra-li-3 {
  line-height: 1.2;
  color: hsl(24, 5%, 18%);
}

#prep2 {
  font-size: 20px;
  color: hsl(332, 51%, 32%);
  position: relative;
  font-family: Outfit;
  font-weight: 600;
  left: 0px;
  top: 21px;
}
.prep li {
  font-size: 16.4px;
  color: black;
  font-weight: 400;
  font-family: Outfit;
  position: relative;
  left: 20px;
  margin: 12px;
  top: 5px;
  padding-left: 20px;
}

.prep li::marker {
  color: hsl(332, 51%, 32%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif";
  font-weight: 400;
}

#prep3 {
  color: hsl(332, 51%, 32%);
  font-weight: 500;
  font-size: 28px;
  font-family: "Young Serif";
  line-height: 1.52rem;
  position: relative;
  top: -52px;
  left: -40px;
}

#prep3 li {
  font-size: 16.4px;
  color: black;
  font-weight: 400;
  font-family: Outfit;
  position: relative;
  left: 40px;
  margin: 12px;
  top: 12px;
  line-height: 1.22em;
  padding-left: 20px;
}

#prep3 li::marker {
  color: hsl(332, 51%, 32%);
}

.special-one {
  border: 1px hsl(30, 18%, 87%) solid;
  position: relative;
  top: -38px;
}

#prep4 {
  line-height: 30px;
  color: hsl(332, 51%, 32%);
  font-weight: 500;
  font-size: 28px;
  font-family: "Young Serif";
  position: relative;
  top: -34px;
  left: -40px;
}

#prep4 li {
  font-size: 15.72px;
  color: black;
  font-weight: 400;
  font-family: Outfit;
  position: relative;
  left: 15px;
  margin: 12px;
  top: 12px;
  line-height: 1.36em;
  padding-left: 13px;
}

#prep4 li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}

.special {
  border: 1px hsl(30, 18%, 87%) solid;
  position: relative;
  top: -20px;
}

.prep5 {
  line-height: 30px;
  color: hsl(332, 51%, 32%);
  font-weight: 500;
  font-family: "Young Serif";
  position: relative;
  top: -17px;
  font-size: 28px;
}

.prep-p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  font-family: Outfit;
  position: relative;
  left: -11px;
  margin: 12px;
  top: -20px;
  line-height: 1.37em;
}

hr {
  border: 1px hsl(30, 18%, 87%) solid;
  position: relative;
  top: -14px;
}

.names {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16.4px;
  color: hsl(24, 5%, 18%);
  padding-left: 30px;
  line-height: 1.5;
}

.grams {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16.4px;
  color: hsl(332, 51%, 32%);
  padding-left: 248px;
  position: relative;
  text-align: center;
}

table {
  position: relative;
  top: -12px;
  border-collapse: separate;
  table-layout: fixed;
  width: 28%;
}

@media (max-width: 435px) {
  body {
    margin: 0 auto;
    padding: 0 auto;
    height: 2040px;
    width: 435px;
  }

  .container {
    width: 435px;
    height: 2040px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  picture {
    height: 170px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    width: 385px;
  }

  .omlette {
    left: 30px;
    position: relative;
    height: 170px;
    width: 375px;
    border-radius: 0;
  }

  h1 {
    position: relative;
    top: -22px;
    text-align: left;
    font-size: 36px;
    font-family: "Young Serif";
    font-weight: 400;
    line-height: 36px;
  }

  p {
    display: flex;
    flex-direction: row;
    width: 315px;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    top: -20px;
    font-size: 16px;
    font-family: Outfit;
    color: hsl(24, 5%, 18%);
    line-height: 1.5em;
  }

  .prep {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -10px;
    width: 87%;
    justify-content: center;
    align-items: center;
  }

  #prep2 {
    position: relative;
    left: -25px;
    top: 1px;
    line-height: 20px;
  }

  #li {
    font-size: 16px;
  }

  #prep3 {
    position: relative;
    top: -15px;
    left: -35px;
  }

  .special-one {
    position: relative;
    top: 0px;
  }

  #prep4 {
    position: relative;
    top: 10px;
    left: -35px;
  }

  .special {
    position: relative;
    top: 40px;
  }

  .prep5 {
    position: relative;
    top: 50px;
    left: -90px;
  }

  .prep-p {
    position: relative;
    top: 40px;
    left: -10px;
    line-height: 25px;
    font-size: 16.2px;
  }

  table {
    position: relative;
    top: 45px;
    width: 10%;
  }

  .grams {
    padding-left: 150px;
  }

  hr {
    position: relative;
    top: 45px;
  }
}
